/*
$c1 = #f3f1ec
$c2 = #eb5591
$c3 = #f5f0cf
$c4 = #2dadac
$c5 = #452c0a
$body-background-color = $c1
$body-color = $c5
$header-background-color = $body-color
$header-color = $body-background-color
$footer-background-color = $body-color
$footer-color = $body-background-color
$a-color = $c4
$blockquote-border-color = darken($body-background-color, 20%)
$code-background-color = $body-color
$code-color = $body-background-color
$table-border-color = $body-color
*/
body {
  background-color: #fff;
  color: #000;
  margin: 0px;
  padding: 0px;
}
body > header,
body > footer {
  background-color: #fff;
  color: #000;
  text-align: center;
}
body > header a,
body > footer a {
  color: #000;
  text-decoration: none;
}
body > header img,
body > footer img {
  max-height: 32px;
  max-width: 32px;
}
body > header ul,
body > footer ul {
  padding-left: 0px;
}
body > header ul > li,
body > footer ul > li {
  display: inline-block;
  list-style: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
body > main {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}
a {
  color: #0070c9;
}
blockquote {
  border-left: #ccc solid 0.25rem;
  padding-left: 0.5rem;
}
code:not(.hljs) {
  background-color: #000;
  color: #fff;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 320px;
  max-width: 100%;
}
table {
  margin-left: auto;
  margin-right: auto;
}
table,
th,
td {
  border: #000 solid 1px;
  border-collapse: collapse;
}
ul.pagination {
  padding-left: 0px;
  text-align: center;
}
ul.pagination > li {
  display: inline-block;
  list-style: none;
}
ul.pagination > li.active > a,
ul.pagination > li.disabled > a {
  color: #000;
  text-decoration: none;
}
ul.taxonomy {
  padding-left: 0px;
}
ul.taxonomy > li {
  display: inline-block;
  list-style: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
div.overflow-auto {
  overflow: auto;
}

