<footer>
  <ul class="contact">
    {{ range $.Site.Menus.footer }}
      <li><a href="{{ .URL }}">{{ .Title }}</a></li>
    {{ end }}
    {{ with $.Site.Params.github }}
      <li><a href="https://github.com/{{ . }}">GitHub</a></li>
    {{ end }}
    {{ with $.Site.Params.instagram }}
      <li><a href="https://instagram.com/{{ replace . "@" "" }}">Instagram</a></li>
    {{ end }}
    {{ with $.Site.Params.twitter }}
      <li><a href="https://twitter.com/{{ replace . "@" "" }}">Twitter</a></li>
    {{ end }}
    <li><a href="{{ "/index.xml" | relURL }}">RSS Feed</a></li>
  </ul>
  <div>
    <small>
      {
      "Colors":
      [<a href="#anchor-dark" id="anchor-dark">"Dark"</a>,
      <a href="#anchor-default" id="anchor-default">"Default"</a>,
      <a href="#anchor-light" id="anchor-light">"Light"</a>]
      }
    </small>
  </div>
  {{ with $.Site.Copyright | safeHTML }}
    <small>{{ . }}</small>
  {{ end }}
</footer>
