$c1 = #000000
$c2 = #eb5591
$c3 = #f5f0cf
$c4 = #0070c9
$c5 = #ffffff
$body-background-color = $c1
$body-color = $c5
$header-background-color = $c1
$header-color = $c5
$footer-background-color = $c1
$footer-color = $c5
$a-color = $c4
$blockquote-border-color = lighten($body-background-color, 20%)
$code-background-color = $body-color
$code-color = $body-background-color
$table-border-color = $body-color

@require 'style'
