$c1 = #f3f1ec
$c2 = #eb5591
$c3 = #f5f0cf
$c4 = #2dadac
$c5 = #452c0a
$body-background-color = $c1
$body-color = $c5
$header-background-color = $c5
$header-color = $c1
$footer-background-color = $c5
$footer-color = $c1
$a-color = $c4
$blockquote-border-color = darken($body-background-color, 20%)
$code-background-color = $body-color
$code-color = $body-background-color
$table-border-color = $c5

body
  background-color $body-background-color
  color $body-color
  margin 0px
  padding 0px
  & > header
    background-color $header-background-color
    color $header-color
    text-align center
    a
      color $header-color
      text-decoration none
    img
      max-height 32px
      max-width 32px
    ul
      padding-left 0px
      & > li
        display inline-block
        list-style none
        margin-left 0.5rem
        margin-right 0.5rem
  & > footer
    @extends body > header

a
  color $a-color

blockquote
  border-left $blockquote-border-color solid 0.25rem
  padding-left 0.5rem

code:not(.hljs)
  background-color $code-background-color
  color $code-color

img
  max-height 320px
  max-width 100%

table
th
td
  border $table-border-color solid 1px
  border-collapse collapse

ul.pagination
  padding-left 0px
  text-align center
  & > li
    display inline-block
    list-style none
    &.active
    &.disabled
      & > a
        color arguments
        text-decoration none

ul.taxonomy
  padding-left 0px
  & > li
    display inline-block
    list-style none
    margin-left 0.5rem
    margin-right 0.5rem
