$c1 = #f3f1ec
$c2 = #eb5591
$c3 = #f5f0cf
$c4 = #2dadac
$c5 = #452c0a
$body-background-color = $c1
$body-color = $c5
$header-background-color = $c5
$header-color = $c1
$footer-background-color = $c5
$footer-color = $c1
$a-color = $c4
$blockquote-background-color = $body-background-color
$blockquote-border-color = darken($body-background-color, 20%)
$blockquote-color = $body-color
$code-background-color = $body-color
$code-color = $body-background-color
$strong-color = $c2
$table-border-color = $c5
$contact-background-color = $footer-background-color
$contact-color = $footer-color

body
  background-color $body-background-color
  color $body-color
  margin 0px
  padding 0px

a
  color $a-color

blockquote
  border-left $blockquote-border-color solid 4px
  color $blockquote-color
  padding 0 0.5rem

code:not(.hljs)
  background-color $code-background-color
  color $code-color

img
  max-height 320px
  max-width 640px

table
th
td
  border $table-border-color solid 1px
  border-collapse collapse

body > header
  background-color $header-background-color
  color $header-color
  text-align center
  a
    color $header-color
    text-decoration none
  img
    max-height 32px
    max-width 32px
  nav
    ul
      padding-left 0px
      li
        display inline-block
        list-style none
        margin-left 0.5rem
        margin-right 0.5rem

body > footer
  background-color $footer-background-color
  color $footer-color
  text-align center

.pagination
  padding-left 0px
  text-align center
  li
    display inline-block
    list-style none
    &.active
    &.disabled
      a
        color $body-color
        text-decoration none

.contact
  background-color $contact-background-color
  a
    color $contact-color
    text-decoration none
  ul
    padding-left 0px
    li
      display inline-block
      list-style none
      margin-left 0.5rem
      margin-right 0.5rem

.taxonomy
  padding-left 0px
  li
    display inline-block
    list-style none
    margin-left 0.5rem
    margin-right 0.5rem
